body{
    font-family: 'Comic Sans MS', "Comic Sans", cursive;
    background-color: #4a412a;
}


h2 {
    background: linear-gradient(39deg, rgba(248,30,35,1) 0px, rgba(255,53,0,1) 64px, rgba(255,250,24,1) 128px, rgba(86,222,25,1) 200px, rgba(81,206,255,1) 256px, rgba(82,23,166,1) 320px, rgba(231,6,222,1) 400px);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 52px;

}
